
.auth {
    @include width-height(900px, 100vh);
    @include flexSetUp(center, center, column);
    background: $white;
    margin: auto;

    img {
        @include width-height(250px, auto);
    }

    .inputs {
        @include width-height(80%);

        h3 {
            margin: 7px 23px;
            font-weight: bolder;
            font-size: 23px;
        }

        input {
            @include width-height(100%, 25px);
            font-size: 22px;
            border: 1.5px gray solid;
            padding-left: 8px;
        }
    }

    .buttons {
        margin-top: 25px;
        width: 270px;
        @include flexSetUp(space-between);

        .button {
            @include width-height(120px, 35px);
            @include flexSetUp(center, center);
            font-size: 15px;
            border-radius: 3px;
            background: #bada55;
        }

        .light-green {
            background: $lime-green;
            color: black;
        }
        .dark-green {
            background: $dark-green;
            color: $white;
        }
    }
}